numpy
pandas
scipy
matplotlib
jupyter
tzlocal
pytz
requests
aiohttp
sortedcontainers
more-itertools
tabulate
pyyaml
tomli
tomli-w
netifaces-plus
pytest
deepdiff
prometheus_client

# Phoenix Prime FIX foundation package
phx-fix-base @ git+https://github.com/mtxpt/phx-fix-base.git@master

# arch other than arm64 and Windows should be able to install quickfix without a patch
quickfix; platform_machine != 'arm64' and sys_platform != 'win32'

